.input-container {
  display: flex; 
  flex-direction: column; 

  gap: 0.25rem; 
  margin: 1rem; 
}

.input-container > label {
  text-align: left; 
}

.input-container > input {
  height: 1.25rem; 
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
}

textarea {
  height: 5rem; 
  padding: 0.5rem 0.5rem 0.15rem 0.5rem;
}

.button-container {
  margin-top: 2rem; 
}

.container {
  margin-bottom: 2rem; 
  border: 1px solid white; 
  width: 80%; 
  border-radius: 2rem; 
}